# Python Sets
Sets are unordered collection of data items. They store multiple items in a single variable. Set items are separated by commas and enclosed within curly brackets {}. Sets are unchangeable, meaning you cannot change items of the set once created. Sets do not contain duplicate items.

**Example:**

In [1]:
info = {"Carla", 19, False, 5.9, 19}
print(info)

{False, 19, 'Carla', 5.9}

Here we see that the items of set occur in random order and hence they cannot be accessed using index numbers. Also sets do not allow duplicate values.


## Accessing set items:
### Using a For loop
You can access items of set using a for loop.

**Example:**

In [2]:
info = {"Carla", 19, False, 5.9}
for item in info:
    print(item)

False
19
5.9
Carla

# Joining Sets
Sets in python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.

### I. union() and update():
The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

**Example:**

In [2]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

{'Berlin', 'Kabul', 'Seoul', 'Delhi', 'Madrid', 'Tokyo'}

In [3]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)

{'Berlin', 'Kabul', 'Seoul', 'Delhi', 'Madrid', 'Tokyo'}

### II. intersection and intersection_update():
The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

### Example:

In [4]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

{'Madrid', 'Tokyo'}
{'Madrid', 'Tokyo'}

### III. symmetric_difference and symmetric_difference_update():
The symmetric_difference() and symmetric_difference_update() methods prints only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

**Example:**

In [7]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)

{'Delhi', 'Kabul', 'Seoul', 'Berlin'}
{'Delhi', 'Kabul', 'Seoul', 'Berlin'}

### issuperset():
The issuperset() method checks if all the items of a particular set are present in the original set. It returns True if all the items are present, else it returns False.

**Example:**

In [9]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))
cities3 = {"Seoul", "Madrid","Kabul"}
print(cities.issuperset(cities3))

False
False

### add()
If you want to add a single item to the set use the add() method.

**Example:**

In [5]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)

{'Berlin', 'Delhi', 'Helsinki', 'Madrid', 'Tokyo'}

### update()
If you want to add more than one item, simply create another set or any other iterable object(list, tuple, dictionary), and use the update() method to add it into the existing set.

**Example:**

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Helsinki", "Warsaw", "Seoul"}
cities.update(cities2)
print(cities)

{'Delhi', 'Berlin', 'Warsaw', 'Helsinki', 'Madrid', 'Tokyo', 'Seoul'}

### remove()/discard()
We can use remove() and discard() methods to remove items form list.

**Example :**

In [8]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)

{'Delhi', 'Madrid', 'Berlin'}

The main difference between remove and discard is that, if we try to delete an item which is not present in set, then remove() raises an error, whereas discard() does not raise any error.

Example:

In [9]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.discard("Karachi")
print(cities)

{'Delhi', 'Madrid', 'Tokyo', 'Berlin'}

### pop()
This method removes the last item of the set but the catch is that we don’t know which item gets popped as sets are unordered. However, you can access the popped item if you assign the pop() method to a variable.

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)

{'Madrid', 'Tokyo', 'Berlin'}
Delhi

### del
del is not a method, rather it is a keyword which deletes the set entirely.

**Example:**

In [18]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
del cities
print(cities)

NameError: name 'cities' is not defined

What if we don’t want to delete the entire set, we just want to delete all items within that set?

### clear():
This method clears all items in the set and prints an empty set.

Example:

In [19]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)

set()

### Check if item exists
You can also check if an item exists in the set or not.

**Example**

In [20]:
info = {"Carla", 19, False, 5.9}
if "Carla" in info:
    print("Carla is present.")
else:
    print("Carla is absent.")

Carla is present.