### Manipulating Tuples
Tuples are immutable, hence if you want to add, remove or change tuple items, then first you must convert the tuple to a list. Then perform operation on that list and convert it back to tuple.

Example:

In [1]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       #add item
temp.pop(3)                 #remove item
temp[2] = "Finland"         #change item
countries = tuple(temp)
print(countries)

('Spain', 'Italy', 'Finland', 'Germany', 'Russia')

In [6]:
tup1 = (1 ,3 , 5)
list1 = list(tup1)
print(list1)

list1[1] = 6
print(list1)
tuple(list1)

[1, 3, 5]
[1, 6, 5]

(1, 6, 5)

Thus, we convert the tuple to a list, manipulate items of the list using list methods, then convert list back to a tuple.

However, we can directly concatenate two tuples without converting them to list.

**Example:**

In [2]:
countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

# Tuple methods
As tuple is immutable type of collection of elements it have limited built in methods.They are explained below

### count() Method
The count() method of Tuple returns the number of times the given element appears in the tuple.

### **Syntax:**
**`tuple.count(element)`**


**Example**

In [3]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tuple1.count(3)
print('Count of 3 in Tuple1 is:', res)

Count of 3 in Tuple1 is: 3

In [9]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tuple1.index(3 , 2 ,6)
print(res)

3

## index() method
The Index() method returns the first occurrence of the given element from the tuple.

### Syntax:
### `tuple.index(element, start, end)`


Note: This method raises a ValueError if the element is not found in the tuple.

**Example**

In [10]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tuple.index(3)
print('First occurrence of 3 is', res)

First occurrence of 3 is 3