
#Variables and Datatypes

### What is a variable?
Variable is like a container that holds data. Very similar to how our containers in kitchen holds sugar, salt etc Creating a variable is like creating a placeholder in memory and assigning it some value. In Python its as easy as writing:

In [1]:
a = 1
b = True
c = "Hello"
d = None

These are four variables of different data types.


### What is a Data Type?
Data type specifies the type of value a variable holds. This is required in programming to do various operations without causing an error.
In python, we can print the type of any operator using type function:

In [2]:
a = 1
print(type(a))
b = "1"
print(type(b))

<class 'int'>
<class 'str'>

By default, python provides the following built-in data types:

1. ### Numeric data: int, float, complex
####int: 3, -8, 0
####float: 7.349, -9.0, 0.0000001
####complex: 6 + 2i
2. ### Text data: str
####str: "Hello World!!!", "Python Programming"

3. ### Boolean data:
#### Boolean data consists of values True or False.

4. #### Sequenced data: list, tuple
#### list: A list is an ordered collection of data with elements separated by a comma and enclosed within square brackets. Lists are mutable and can be modified after creation.

In [3]:
list1 = [8, 2.3, [-4, 5], ["apple", "banana"]]
print(list1)

[8, 2.3, [-4, 5], ['apple', 'banana']]

####Tuple:
A tuple is an ordered collection of data with elements separated by a comma and enclosed within parentheses. Tuples are immutable and can not be modified after creation.

Example:

In [4]:
tuple1 = (("parrot", "sparrow"), ("Lion", "Tiger"))
print(tuple1)

(('parrot', 'sparrow'), ('Lion', 'Tiger'))

In [ ]:
tuple1 = (("parrot", "sparrow"), ("Lion", "Tiger"))
print(tuple1)